#bars {
    margin: 2em auto;
    /*max-width: 960px;*/
    overflow: hidden;
}

.bar {
    text-align: center;
}

.bar h3 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    /*text-transform: uppercase;*/
}

.bar-circle {
    display: block;
    margin: 0.7em auto;
    background-attachment: relative;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}